td {text-align: center; font-family: Arial Black; font-size:25pt; color:  #35d648}
table {padding:5px; background-color:rgb(221, 254, 217); border: 5px solid #2bb93c}
a {text-decoration: none; color:#35d648}