img {border:4px solid #229630; position:relative; top:20px;}
h1 {color: #75521a; text-decoration: underline;font-family: Arial;}
p.add {font-size:10pt; color: #66635a;}
p {font-family: Arial; font-size:15pt;}
body {text-align:center;}
a {text-decoration:none;color:black;}