img {border:4px solid #624515; position:relative; top:20px;}
h1 {color: #75521a; text-decoration: underline;font-family: Arial; font-weight: bold;}
h3 {color: #198c22; text-decoration: underline;font-family: Arial; font-weight: bold; font-size: x-large;}
p.add {font-size:10pt; color: #645f4d;}
p {font-family: Arial;  font-size:15pt; color:#462e00; }
body {text-align:center;}
button {color:#75521a ; border-radius: 7px; width: fit-content; height: fit-content; font-size: x-large;}
